# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and OS files
Data/
Backup/
.DS_Store
.vscode
.Rhistory

# Jupyter Notebooks
.ipynb_checkpoints/

# Old & Untitle files
*old*
Untitled*
*Copy*

# Environments and Secrets
.venv/
venv/
env/
.env

# Build and Distribution
dist/
build/
*.egg-info/